In [1]:
k = [5,6,3]

In [2]:
k

[5, 6, 3]

In [4]:
def modify(g):
    g.append(8)
    print(g)

In [5]:
modify(k)

[5, 6, 3, 8]

In [6]:
k

[5, 6, 3, 8]

In [7]:
def modifyRef(g):
    g = [2,4,6]
    print(g)

In [9]:
modifyRef(k)

[2, 4, 6]

In [10]:
k

[5, 6, 3, 8]

In [11]:
#Tuple
t = ("its a String", 234.4, 78)

In [12]:
t

('its a String', 234.4, 78)

In [13]:
t[2]

78

In [14]:
len(t)

3

In [16]:
for item in t:
    print(item)

its a String
234.4
78

In [21]:
t + (4,5) + t

('its a String', 234.4, 78, 4, 5, 'its a String', 234.4, 78)

In [22]:
t * 2

('its a String', 234.4, 78, 'its a String', 234.4, 78)

In [23]:
t1 = ((3,2),(5,2),(5,1))

In [24]:
t1[1]

(5, 2)

In [25]:
t1[1][1]

2

In [26]:
st = (4)

In [27]:
type(st)

int

In [28]:
type(t)

tuple

In [29]:
ste = (3,)
print(type(ste))

<class 'tuple'>

In [30]:
et = ()
print(type(et))

<class 'tuple'>

In [31]:
wdt = 3,5,6,3,5,6
print(type(wdt))

<class 'tuple'>

In [54]:
#Tuples are useful for multiple return values
def findMinMax(items):
    return min(items), max(items)

print(findMinMax([3,45,6,2,35,3,2]))

TypeError: 'int' object is not callable

In [55]:
#Tuple unpacking allows us to destructure directly into named references
t,u = (4,3)

In [50]:
print(t)

4

In [48]:
print(u)

3

In [49]:
print("sfdf")

sfdf

In [57]:
(a,(b,(c,d))) = (3,(4,(8,3)))
print(a)

3

In [58]:
#use the tuple(iterable) constructor to create tuples from other iterable series of objects
tuple([2,43,5,3,23])

(2, 43, 5, 3, 23)

In [59]:
tuple("its is tuple")

('i', 't', 's', ' ', 'i', 's', ' ', 't', 'u', 'p', 'l', 'e')

In [2]:
5 in (4,3,3,4,5,2,1)

True

In [ ]:
8 not in (4,3,3,4,5,2,1)

In [7]:
#Strings
"".join(["ye","ah"])

'yeah'

In [8]:
";".join(["ye","ah"])

'ye;ah'

In [10]:
'ye;ah'.split(';')

['ye', 'ah']

In [12]:
'asfgafsdgafg dfga afsg asfg asfg'.split()

['asfgafsdgafg', 'dfga', 'afsg', 'asfg', 'asfg']

In [13]:
"unpunishable".partition('punish')

('un', 'punish', 'able')

In [18]:
hour, _, minute = "06:45".partition(':')
print(hour)
print(minute)

06
45

In [21]:
"My name is {0}. I am an {1}. I am proud to be {1}.".format('Sadique','Engineer')

'This is good and that is bad'

In [22]:
"This is {} and that is {}".format('good','bad')

'This is good and that is bad'

In [23]:
"Current position: {long} {lat}".format(long='60N',lat='5E')

'Current position: 60N 5E'

In [24]:
t = (1,2,3,4)
"This is an example for sequence: {pos[0]},{pos[1]},{pos[2]},{pos[3]}".format(pos=t)

'This is an example for sequence: 1,2,3,4'

In [25]:
import math
"Math constants: pi = {m.pi}, e = {m.e}".format(m = math)

'Math constants: pi = 3.141592653589793, e = 2.718281828459045'

In [ ]:
#Range
range(5)

In [27]:
for i in range(7,9):
    print(i)

7
8

In [30]:
list(range(2,6))

[2, 3, 4, 5]

In [33]:
list(range(2,8,2))

[2, 4, 6]

In [34]:
t = [2,5,8,2,2,4,6]
for p in enumerate(t):
    print(p)

(0, 2)
(1, 5)
(2, 8)
(3, 2)
(4, 2)
(5, 4)
(6, 6)

In [6]:
#list --- hetrogeneous mutable sequence
s = "its a new sequence".split()
s[3]

'sequence'

In [7]:
#backward index navigation starts from -1
s[-1]

'sequence'

In [9]:
s[1:3]

['a', 'new']

In [10]:
s[1:-1]

['a', 'new']

In [12]:
s[1:]

['a', 'new', 'sequence']

In [13]:
new_list = s[:]
new_list is s

False

In [14]:
new_list == s

True

In [15]:
new_list.append("yup")
new_list

['its', 'a', 'new', 'sequence', 'yup']

In [16]:
new_list == s

False

In [17]:
new_copy = s.copy()
new_copy

['its', 'a', 'new', 'sequence']

In [19]:
new_li = list(s)
new_li

['its', 'a', 'new', 'sequence']

In [20]:
#shallow copying
li = [[1,5],[6,9]]
shallow_list = li[:]
shallow_list is li

False

In [21]:
shallow_list == li

True

In [22]:
shallow_list[0].append(2)
#This updates the list inside the list
shallow_list == li

True

In [23]:
s = [3]*4
s

[3, 3, 3, 3]

In [24]:
[0] *9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [25]:
s = "I am going to eat a mango and a guava today".split()
s.index('a')

5

In [27]:
s.count('a')

2

In [28]:
'am' in s

True

In [29]:
'why' not in s

True

In [30]:
s.remove('today')

In [31]:
s

['I', 'am', 'going', 'to', 'eat', 'a', 'mango', 'and', 'a', 'guava']

In [35]:
s.insert(len(s)-1,'today')
s

['I',
 'am',
 'going',
 'to',
 'eat',
 'a',
 'mango',
 'and',
 'a',
 'today',
 'today',
 'guava']

In [36]:
' '.join(s)

'I am going to eat a mango and a today today guava'

In [37]:
m = [1,32,4,4,3]
n= [3,2,4,4]
o = m+n
o

[1, 32, 4, 4, 3, 3, 2, 4, 4]

In [39]:
o += [4,2,5,3]
o

[1, 32, 4, 4, 3, 3, 2, 4, 4, 4, 2, 5, 3, 4, 2, 5, 3]

In [40]:
o.extend([1,1,1,1,1,1,11])
o

[1, 32, 4, 4, 3, 3, 2, 4, 4, 4, 2, 5, 3, 4, 2, 5, 3, 1, 1, 1, 1, 1, 1, 11]

In [47]:
#reverse a list
li1 = [2,3,4,2,5,2,5,7,8,45625,256]
li1.reverse()
li1

[256, 45625, 8, 7, 5, 2, 5, 2, 4, 3, 2]

In [50]:
#sort a list. reverse argument is optional, defualt is False, means it sorts in ascending order.
li1.sort(reverse=True)
li1

[45625, 256, 8, 7, 5, 5, 4, 3, 2, 2, 2]

In [53]:
#sort using key argument.
li2 = "I am going to help you today".split()
li2.sort(key=len)
li2

['I', 'am', 'to', 'you', 'help', 'going', 'today']

In [57]:
# get sorted list without changing the esisting one
x = [3,2,5,7,3,2,1]
y = sorted(x)
x.append(9)
y

[1, 2, 2, 3, 3, 5, 7]

In [60]:
# get reversed list without changing the esisting one
m = [3,6,2,4,1,7,9,5]
n = reversed(m) # returns a reverse iterator.
list(n)

[5, 9, 7, 1, 4, 2, 6, 3]

In [62]:
# dict
dict1 = {"one":"1", "two":"2","three":"3"}
dict1["one"]

'1'

In [63]:
# dict constructor to take iterable series of tuples
name_ages = [("jack", 10),("Rony", 45),("bala",34),("Huge",39)]
d = dict(name_ages)
d

{'jack': 10, 'Rony': 45, 'bala': 34, 'Huge': 39}

In [64]:
# constructor keyword argument
val = dict(a="one", b = "two", c ="three")
val

{'a': 'one', 'b': 'two', 'c': 'three'}

In [77]:
#copy a dict, creates a new copy, does not point to save reference.
v1 = val.copy()
v2 = dict(val)
val["d"]="four"
val["e"]="five"
v1

{'a': 'one', 'b': 'two', 'c': 'three', 'd': 'four'}

In [78]:
val

{'a': 'one', 'b': 'two', 'c': 'three', 'd': 'four', 'e': 'five'}

In [79]:
v2

{'a': 'one', 'b': 'two', 'c': 'three', 'd': 'four'}

In [2]:
#updating a dict
d1 = {'a': 'on', 'b': 'two', 'c': 'three', 'd': 'four', 'e': 'five'}
d2 = {'f':'six','g':'seven', 'a':'one'}
d1.update(d2)
d1

{'a': 'one',
 'b': 'two',
 'c': 'three',
 'd': 'four',
 'e': 'five',
 'f': 'six',
 'g': 'seven'}

In [3]:
#iterating dict on keys
for key in d1:
    print("{key}  -->  {value}".format(key=key,value = d1[key]))

a  -->  one
b  -->  two
c  -->  three
d  -->  four
e  -->  five
f  -->  six
g  -->  seven

In [5]:
# iterating dict on values
for value in d1.values():
    print(value)

one
two
three
four
five
six
seven

In [6]:
# iterating dict in key-value view
for key,value in d1.items():
    print("{key}  -->  {value}".format(key=key,value = value))

a  -->  one
b  -->  two
c  -->  three
d  -->  four
e  -->  five
f  -->  six
g  -->  seven

In [7]:
'a' in d1

True

In [8]:
'z' not in d1

True

In [11]:
del d1['g']

KeyError: 'g'

In [12]:
d1

{'a': 'one', 'b': 'two', 'c': 'three', 'd': 'four', 'e': 'five', 'f': 'six'}

In [14]:
# set is unordered collection of unique , immutable objects.delimted by { and }, single comma seperated items
set1 = {1,4,7,3,2,9}
type(set1)

set

In [15]:
set2 ={}
type(set2)

dict

In [16]:
set3 = set()
type(set3)

set

In [18]:
# discards dupicates. no order perserve
set4= set([1,3,4,45,5,45,5])
set4

{1, 3, 4, 5, 45}

In [19]:
for v in set4:
    print(v)

1
3
4
5
45

In [21]:
5 in set4

True

In [23]:
#add item to set
set4.add(77)
set4

{1, 3, 4, 5, 45, 77}

In [24]:
# add multiple items
set4.update([4,2,5,6,3,2,2,3,34])
set4

{1, 2, 3, 4, 5, 6, 34, 45, 77}

In [25]:
#using remove and discard
set4.remove(99)

KeyError: 99

In [26]:
set4.discard(99)

In [28]:
#copy of set
set5 = set4.copy()
set6 = set(set4)
set5

{1, 2, 3, 4, 5, 6, 34, 45, 77}

In [29]:
set6

{1, 2, 3, 4, 5, 6, 34, 45, 77}

In [30]:
#union
set7 = {77,88,99}
set6.union(set7)

{1, 2, 3, 4, 5, 6, 34, 45, 77, 88, 99}

In [31]:
#intersection
set6.intersection(set7)

{77}

In [33]:
#difference, non commutative.
set6.difference(set7) == set7.difference(set6)

False

In [34]:
#symmetric_difference, commutative
set6.symmetric_difference(set7)

{1, 2, 3, 4, 5, 6, 34, 45, 88, 99}

In [35]:
#issubset
set8 = {1,2,3}
set8.issubset(set6)

True

In [36]:
#issuperset
set6.issuperset(set8)

True

In [37]:
#isdisjoint
set9 = {98,76}
set9.isdisjoint(set8)

True